
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
<style>
    body{
        background-color:#b0d1e0;
    }
    .head-title h1{
    font-family: 'Architects Daughter', cursive;
         color:#00adb5;
        font-size:50px;
    }
   
</style>
<body>
<div class="head-title" align="center">
    <h1>Will Rain Tomorrow </h1>

</body>
</html>